/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.gitattributes
/app/config_sandbox
/app/code/Magento/TestModule*
/node_modules
/.grunt

/*.*
/app/*
/lib/
/dev/
/bin/
/dev/
/generated/
/phpserver/
/pub/
/setup/
/var/
/vendor/
/.github/

!/app/code/
!/app/design/

!/.gitignore
!/composer.json
!/composer.lock

!/dev/tools/grunt/configs/themes.js
